body{
 text-align: center;
 background-color: aliceblue;
 color: #013220;
}
.container-fluid{
    width: 100%;
}
.first-container {
background-color: #BAD8B6;
position: relative;
padding-top: 100px;
padding-bottom: 10px;
}

.name {
  font-family:  Georgia, 'Times New Roman', Times, serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
  font-size: 2.5em;
  text-align: center;
 
}
.second-content {
    font-family: "Playwrite AU SA", serif;
    font-style: normal;
}
.developer{
    text-decoration: underline;
}

.lead {
    text-align: center;
}
.mx-auto {
    height: 200px;
    width: 190px;
    display: flex;
    margin: auto;
}
.square {
    border-radius: 10%;
}
.second-container{
    background-color: #AAB99A;
    position:relative;
    padding-top: 100px;
    padding-bottom: 20px;
}
.rounded {
    border-radius: 50%;
    overflow: hidden;
    height: 200px;
    width: 200px;
    margin: auto;
}
.img-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h2{
    font-size: 2.5em;
}
.third-container{
    background-color: #D0DDD0;
    position: relative;
    padding-top: 10px;
    padding-bottom: 20px;
}

.skills {
    font-family: "Libre Baskerville", serif;
    font-style: normal;
    font-weight: 600;
}
h3 {
    text-align: left;
    margin-left: 15px;
    font-family: "Libre Baskerville", serif;
    font-style: normal;
    font-weight: 600;
}
.cat {
    float: right;
    margin-left: 15px;
    margin-right: 15px;
    height: 300px;
}
.card-img-top {
    height: 400px;
    width: 500px;
    margin-left: 10px;
    
}

p, .left {
    line-height: 2;
    text-align: center;
    margin-left: 15px;
}

.fourth-container{
    background-color: #F0F0D7;
    position: relative;
    padding-top: 10px;
}

.side{
    margin-top: -40px;
    padding-left: 150px;
}
.bottom{
 margin-top: -60px; 
 padding-left: 200px;
}
a:active {
 color: red;
}
/*.education {
 color: purple;
}*/
