
body {
    background:#BAD8B6;
    
}
/*body{
    background: linear-gradient(#363654,rgb(65, 82, 65),rgb(70, 61, 70));
    color:white;
}
.color {
    color: Dark Green;
}*/

/*body{
    background-color: lightblue;
    color:black;
}*/
p{
    text-align: left;
    margin-left: 10px;
}
h2, a{
    margin-left: 10px;
}
